<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<nav class="container">
  <button routerLink="/all-star" routerLinkActive="active" class="btn btn-primary">NBA All Star</button>
  <button routerLink="/players-list" routerLinkActive="active" class="btn btn-primary">Heroes</button>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
<div class="container" *ngFor="let player of players">
  {{player.team}}
</div>
