<!--The content below is only a placeholder and can be replaced.-->

<app-header></app-header>
<nav class="container">
  <button [routerLink]="['/admin']" routerLinkActive="active" class="btn btn-primary">Admin</button>
  <button [routerLink]="['/all-star']" routerLinkActive="active" class="btn btn-primary">NBA All Star</button>
  <button [routerLink]="['/players-list']" routerLinkActive="active" class="btn btn-primary">NBA Players</button>
  <button [routerLink]="[{ outlets: { popup: ['compose'] } }]" routerLinkActive="active" class="btn btn-primary">Contact</button>
</nav>
<hr>
<div class="container">
  <router-outlet></router-outlet>
  <router-outlet name="popup"></router-outlet>
</div>
